.fullscreenVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.question {
    position: relative;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.controlBtnsList {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index:2;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.btn {
    border-radius: 20px;
    background-color: #FF171A;
    color: #111111;
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    color: #FF171A;
    background-color: #111111;
}

.audioBtnsList {
    display: flex;
    justify-content: space-between;
}

.audioButton {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    ion-icon {
        font-size: 32px;
    }
}

.hoverBlock.fadeOut {
    opacity: 0;
    pointer-events: none; /* prevent clicks during fade out */
}

.questionSign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}
.question {
    .hoverBlock {
        z-index: 2;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}

.questionDog{
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 70vw);
        bottom: -20vh;
        .hoverImg{
            width: 80vw;
            height: 100vh;
        }
    }
}


.questionBear {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 55vw);
        bottom: -20vh;

        .hoverImg{
            width: 50vw;
            height: 150vh;
        }
    }
}

.questionBehemoth {
    .hoverBlock {
        position: absolute;
        left: -15vw;
        bottom:-25vh;

        .hoverImg{
            width: 80vw;
            height: 110vh;

        }
    }
}

.questionCar {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 83vw);
        bottom:17vh;

        .hoverImg{
            width: 83vw;
            height: 90vh;

        }
    }
}

.questionCat {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 55vw);
        bottom:5vh;

        .hoverImg{
            width: 65vw;
            height: 115vh;

        }
    }
}

.questionCrab {
    .hoverBlock {
        position: absolute;
        left: -8vw;
        bottom:-7vh;

        .hoverImg{
            width: 70vw;
            height: 110vh;

        }
    }
}

.questionDinosaur {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 85vw);
        bottom:5vh;

        .hoverImg{
            width: 70vw;
            height: 120vh;

        }
    }
}

.questionFox {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 60vw);
        bottom:-30vh;

        .hoverImg{
            width: 42vw;
            height: 110vh;

        }
    }
}

.questionFrog {
    .hoverBlock {
        position: absolute;
        left: -12vw;
        bottom: -17vh;

        .hoverImg{
            width: 120vw;
            height: 80vh;

        }
    }
}

.questionGhost{
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 48vw);
        bottom:-20vh;

        .hoverImg{
            width: 60vw;
            height: 115vh;

        }
    }
}

.questionIcecream {
    .hoverBlock {
        position: absolute;
        left: -12vw;
        bottom:-25vh;

        .hoverImg{
            width: 70vw;
            height: 120vh;

        }
    }
}

.questionMouse {
    .hoverBlock {
        position: absolute;
        left: -10vw;
        bottom:-10vh;

        .hoverImg{
            width: 40vw;
            height: 50vh;

        }

    }
    .questionSign {
        height: 20vh;
        width: auto;
    }
}


.questionPig {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 85vw);
        bottom:-3vh;

        .hoverImg{
            width: 70vw;
            height: 100vh;

        }
    }
}

.questionSheep {
    .hoverBlock {
        position: absolute;
        left: -12vw;
        bottom:-20vh;

        .hoverImg{
            width: 65vw;
            height: 140vh;

        }
    }
}

.questionSnail {
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 45vw);
        bottom:-5vh;

        .hoverImg{
            width: 55vw;
            height: 80vh;

        }
    }
}


.questionTree{
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 85vw);
        bottom:-5vh;

        .hoverImg{
            width: 50vw;
            height: 105vh;

        }
    }
}

.questionTurtle {
    .hoverBlock {
        position: absolute;
        left: -5vw;
        bottom:-22vh;

        .hoverImg{
            width: 50vw;
            height: 122vh;

        }
    }
}

.questionUnicorn{
    .hoverBlock {
        position: absolute;
        left: calc(100vw - 50vw);
        bottom:0vh;

        .hoverImg{
            width: 60vw;
            height: 110vh;

        }
    }
}
