.fullscreenVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.question {
    position: relative;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.toAllTasksButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index:2;
    margin: 0;
    border:none;
    border-radius: 20px;
    background-color: #FF171A;
    color: #111111;
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;
    padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

.questionDog{
    .hoverBlock {
        z-index:2;
        position: absolute;
        left: calc(100vw - 70vw);
        bottom: -20vh;
        cursor:pointer;

        .hoverImg{
            width: 80vw;
            height: 100vh;
        }
    }
}

.questionSign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}
