.tasks{
    position: relative;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

#tasksVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
}

.fullscreenVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.listWrapper {
    z-index:2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    padding: 30px;

}
.btnList {
    li {
        display: flex;

        align-items: flex-end;


    }

}

.tasksButtonList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 40%;
}

.tasksButtonListSmall {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    width: 30%;


}

.taskButton {
  height:130px;
    cursor: pointer;
}

.taskButton:hover {
    filter: drop-shadow(0 0 0.75rem crimson);}

.btn--8 {
transform: translateX(-20px);
    height: 110px;
}

.btn--7 {
  height: 110px;
}

.btn--5 {
    height: 110px;
}

.btn--3 {
    height: 110px;
    transform: translateY(10px);
}

@media screen and (min-width: 1680px) {
    .taskButton {
        height: 180px;
    }
    .btn--3, .btn--5 ,.btn--7 ,.btn--8 , .btn--6 {
        height:160px;
    }
}
